body {
    width: 90vw;
    margin: 0 auto;
}

div {
    border: 1px solid;
    margin: 2px;
    padding: 5px;
    width: auto;
    background: #fff;
}

.row {
    display: inline-flex;
}

.active {
    background: #f00;
}